.container{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    
}

.box{
    background-color: black;
    flex: 1;
    flex: auto;
}

button{
    height: 20px;
    width: 130px;
    margin-left: 235px;
    margin-right: 235px;
}